<div *ngIf="board" class="board-header"
  style="display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
  border-radius: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">

  <h1 style="margin: 0; font-size: 1.75rem; color: #fff;">
    Board: {{ board.name }}
  </h1>

  <button (click)="navigateToCreateBList(board.id)" class="btn btn-light" style="font-weight: 600;">
    Create List
  </button>
</div>

<div *ngIf="board">
  <div class="row">
    <div class="col-md-4" *ngFor="let bList of board.blists">
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2 class="h5">{{ bList.name }}</h2>
          <button (click)="createCard(board.id, bList.id)" class="btn btn-primary btn-sm">Create Card</button>
          <button (click)="deleteBList(bList.id)" class="btn btn-danger btn-sm" style="margin-left: 10px">Delete List</button>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let card of bList.cards">
            {{ card.text }}
            <div>
              <button (click)="updateCard(board.id, card.id)" class="btn btn-info btn-sm">Update</button>
              <button (click)="deleteCard(card.id)" class="btn btn-danger btn-sm" style="margin-left: 10px">Delete</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>